<div class="cont d-flex justify-content-center align-items-center">
    <div class="conteiner d-flex gap-5 justify-content-center align-items-center" >
        <img src="../../../assets/imagenes/coding.png" class="w-25" alt="">
        <form (ngSubmit)="update()">
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo del Proyecto</label>
                <!-- <input type="text" name="titulo" class="form-control" id="titulo" required [(ngModel)]="proy.titulo"> -->
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <!-- <input type="text" name="descripcion" class="form-control" id="descripcion" required [(ngModel)]="proy.descripcion"> -->
            </div>
            <div class="mb-3">
                <label for="url del proyecto" class="form-label">Url del proyecto</label>
                <!-- <input type="text" name="url del proyecto" class="form-control" id="url del proyecto" required [(ngModel)]="proy.proyUrl"> -->
            </div>
            
            <div class="botones">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <button type="submit" class="btn btn btn-danger" (click)="volver()" >Cancelar</button>
            </div>
            
        </form>
    </div>
