<div class="conteiner proyectos">
    <h3>Proyectos</h3>
    <div class="listaProyectos d-flex justify-content-start align-items-center flex-wrap gap-2" >
        <div *ngFor="let proyecto of listaProyectos">
            <div class="card bg-transparent" style="width: 18rem;">
                <img src="../../../assets/imagenes/arg-programa.png" class="card-img-top" alt="proyecto1">
                <div class="card-body" >
                    <h5 class="card-title">{{proyecto.titulo}}</h5>
                    <p class="card-text">{{proyecto.descripcion}}</p>
                    <a [href]="proyecto.proyUrl" target="_blank">Mirá el Proyecto</a>
                </div>
            </div> 
        </div>
    </div>
</div>
