<div class="conteiner encabezado">

    <div class="perfilConteiner">
        <img src="../assets/imagenes/1640616075219.jpg" class="perfil" alt="foto de perfil">
        <h2 class="nombre">Portfolio Marco Iannuzzi</h2>
        <h3 class="ocupacion">Full Stack Developer</h3>
        <h3 class="localidad">Villa Dolores, Cordoba</h3>
        <h3 class="telefono">03544-629803</h3>
        <div class="botones">
            <button type="button" class="btn btn-outline-primary text-white">Tengo Interes en</button>
            <button type="button" class="btn btn-outline-primary text-white">Agregar</button>    
            <button type="button" class="btn btn-outline-primary text-white">Mas</button> 
        </div>
    </div>   

    <div class="logo">
        <img class="img-fluid-md logoCode" src="../assets/imagenes/binary-code.png" alt="logo coding">
    </div> 
    <!-- <div class="login">
        <button type="button" class="btn btn-primary">Login</button> 
    </div>  -->

</div>
