<div class="conteiner encabezado">
    <div class="logo" *ngIf="persona">
        <img src="../../../assets/imagenes/binary-code.png" class="perfil" alt="foto de perfil">
    </div>
     
    <div class="perfilConteiner" *ngIf="persona">
        <h2 class="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <h3 class="ocupacion">{{persona.ocupacion}}</h3>
        <h3 class="direccion">{{persona.localidad}}</h3>
        <h3 class="telefono">{{persona.telefono}}</h3>
        <h3 class="mail">{{persona.email}}</h3>

    </div>   
</div>
