<div class="conteiner d-flex justify-content-between align-items-center flex-wrap-reverse px-5" >
    <img class="arg-prog rounded" src="../assets/imagenes/arg-programa.png" alt="arg-prog">
    <div class="login d-flex gap-2">
        <button type="button" class="btn btn btn-outline-danger"><a href="https://github.com/Marcoiannuzzi" target="_blank">GitHub</a></button>
        <button type="button" class="btn btn-outline-info text-white"><a href="https://www.linkedin.com/in/marco-d-iannuzzi/" target="_blank" >LinkedIn</a></button>
        <button type="button" class="btn btn-outline-primary text-white" (click)="login()">Login</button>  
    </div> 
</div>
