<div class="conteiner skills">
    <h3>Skills</h3>
    <div class="listaSkills">
        <div>
            <circle-progress
                [percent]="85"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/html-5.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="80"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/css-3.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="65"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/js.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="60"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/java.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="45"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/sql-server.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="45"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/angular-icon-logo.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="45"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/spring-3-logo-png-transparent.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="75"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/git-icon.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="65"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/ingles logo.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="65"
                [radius]="80"
                [imageSrc]="'../../../assets/imagenes/italiano.png'"
                [showImage]="true"
                [imageWidth]="60"
                [imageHeight]="60"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
        </div>
    </div>
    
</div>
