<div class="cont d-flex justify-content-center align-items-center">
    <div class="conteiner d-flex gap-5 justify-content-center align-items-center" >
        <img src="../../../assets/imagenes/coding.png" class="w-25" alt="">
        <form (ngSubmit)="expUpdate()">
            <div class="mb-3">
                <label for="institucion" class="form-label">Institucion</label>
                <input type="text" name="institucion" class="form-control" id="institucion" required [(ngModel)]="expe.institucion">
            </div>
            <div class="mb-3">
                <label for="tareas" class="form-label">Tareas</label>
                <input type="text" name="tareas" class="form-control" id="tareas" required [(ngModel)]="expe.tareas">
            </div>
            <div class="mb-3">
                <label for="inicio" class="form-label">Inicio</label>
                <input type="text" name="inicio" class="form-control" id="inicio" required [(ngModel)]="expe.inicio">
            </div>
            <div class="mb-3">
                <label for="fin" class="form-label">Fin</label>
                <input type="text" name="fin" class="form-control" id="fin" required [(ngModel)]="expe.fin">
            </div>
            <div class="botones">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <button type="submit" class="btn btn btn-danger" routerLink="/inicio" >Cancelar</button>
            </div>
            
        </form>
    </div>