@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&family=Roboto:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 6px black, -2px -2px 6px black, 2px 2px 6px black, -2px -2px 6px black;
}

.contenedor{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a13991cf-52c6-4dad-ad51-bd667a7993b4/d154ae-a3ed3a86-ed20-4390-9514-c28b5e95ffae.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ExMzk5MWNmLTUyYzYtNGRhZC1hZDUxLWJkNjY3YTc5OTNiNFwvZDE1NGFlLWEzZWQzYTg2LWVkMjAtNDM5MC05NTE0LWMyOGI1ZTk1ZmZhZS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.n0nfeuNw6IZtoPBRSqtCgyay1NMxFeNYoqtwka5mhRs');
    background-repeat:no-repeat ;
    background-size: cover ;
}

.conteiner{
    padding: 15px;
    border-radius: 25px;
    width: 80vw;
    background-color: rgba(85, 141, 190, 0.432);
}

.encabezado{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.perfilConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.perfil{
    width: 180px;
    border: 5px outset rgba(20, 78, 238, 0.541);
    border-radius: 50%;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.logo{
    display: flex;
    justify-content: center;
    align-self: center;
}

.logoCode{
    width: 150px;
}

button{
    cursor: pointer;
}


/* -- acerca de -- */

.acercaDe, .educacion, .experiencia, .skills, .proyectos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listaCursos, .listaexperiencias, .listaSkills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width:650px) {
    *{
        font-size: small
    }

    .listaSkills, .listaProyectos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
